<div class="d-flex justify-content-center mt-4">
  <button type="button" class="btn btn-dark">
    Refresh Counter
    <span class="badge badge-light">
      <%= @restaurant_count %>
    </span>
  </button>
</div>


